body{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    background-image: url(https://img.freepik.com/free-photo/composition-ornament-paper-hearts_23-2148005839.jpg?t=st=1746948935~exp=1746952535~hmac=f618765da29ff4a84de9880b8767a72595f7f976572198a85fa7cd16ae6fe468&w=1380);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.gif2{
    width: 100%;
    height: 300px;
    border-radius: 20px;
}
h2{
    font-weight: 900;
    font-size: 300px;
}