body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
    font-family: 'Arial', sans-serif;
    flex-direction: column;
    background-image: url(https://img.freepik.com/free-photo/red-paper-hearts-table_23-2148022310.jpg?t=st=1746948524~exp=1746952124~hmac=2c2486fd582064e418926b5e83e9985afe704938c70352e0c3de9880c9630287&w=1380);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
  
  .container {
    text-align: center;
  }
  
  h1 {
    font-size: 2.5em;
    color: #000000;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .yes-button {
    font-size: 1.5em;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #4caf50;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .no-button {
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .gif_container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
  }